*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1d2533;
    
}
header{
    height: 150px;
    width: 100%;
    top: 0;
    background-color: #576c6a;
}
.content{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card{
    width: 200px; 
}