.d_none{
    display: none !important;
}
.scroll_prevention{
  overflow: hidden !important;
}


/*Karten Layout*/
.card{
    width: 300px;
    height: 550px;
    transition: all 0.5s ease; 
}
.card::before{
    background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(0,255,255,0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
}
.card:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 13px  rgb(255, 255, 255);
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #141111, transparent);
}
.card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
.card-Img{
    background-image: linear-gradient(45deg, #f9f9f9, transparent);
    box-shadow: 0 0 2px 1px rgba(30, 74, 89, 0.5);
    

}
.card-Img:hover{/*spielerei*/
    background-image: linear-gradient(45deg, #141111, transparent); 
}
/* Progressbar Anpassungen*/

.s-atk{
    background-color: rgba(251, 0, 0, 0.56) !important
}
.s-def{
    background-color: rgba(63, 60, 58, 0.797) !important;
}


.choosen-pokemon {
    
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  .neon-pulse {
    border: 2px solid rgb(254, 254, 254);
    box-shadow: 0 0 10px rgba(217, 220, 220, 0.3);
    overflow: visible;
  }
  
  .neon-pulse::before,
  .neon-pulse::after {
    content: "";
    position: absolute;
    inset: -4px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: inherit;
    animation: pulseOut 2s ease-out infinite;
    opacity: 0;
  }
  
  .neon-pulse::after {
    animation-delay: 1s;
  }
  
  @keyframes pulseOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
}
/*LoadingSpinner */
.loading-spinner{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #222B32 
  
}
.loading-spinner::-webkit-scrollbar{
  display: none;
}
.loader-flex{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loader {
  width: 54px;
  height: 54px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  background-image:
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0);
    background-repeat: no-repeat;
  animation: move 4s linear infinite , rotate 2s linear infinite;
}

@keyframes rotate {
  0% , 20%{ transform: rotate(0deg)}
  30% , 40% { transform: rotate(90deg)}
  50% , 60% { transform: rotate(180deg)}
  70% , 80% { transform: rotate(270deg)}
  90%,  100% { transform: rotate(360deg)}
}
@keyframes move {
  0% ,  9%{
      background-position:
      -12px -15px,  -12px 0px, -12px 15px,
      12px -15px,  12px 0px,  12px 15px;
  }
  10% , 25%{
      background-position:
      0px -15px,  -12px 0px, -12px 15px,
      34px -15px,  12px 0px,  12px 15px;
  }
  30% , 45%{
      background-position:
      0px -34px, -12px -10px, -12px 12px,
      34px -15px, 12px -10px, 12px 12px;
  }
  50% , 65% {
      background-position:
      0px -34px, -12px -34px, -12px 12px,
      34px -12px, 0px -10px, 12px 12px;
  }
  70% , 85% {
      background-position:
      0px -34px, -12px -34px, 0px 12px,
      34px -12px, 0px -10px, 34px 12px;
  }
 90% , 100% {
      background-position:
      0px -34px, -12px -34px, 0px 0px,
      34px -12px, 0px 0px, 34px 12px;
  }
}
  



/* 3. Border Reveal */
.loadBtn {
  height: 100%;
  width: 180px;
  border-radius: 10px;
  background-color: transparent;
  color: #6d79d6;
  border: 2px solid #6b60d3;
  position: relative;
}

.loadBtn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9b59b6;
  transition: width 0.3s ease;
  z-index: -1;
}

.loadBtn:hover::after {
  width: 100%;
  
}

.loadBtn:hover {
  color: white;
  z-index: 1;/*necessary for the overlay*/
}



