.d_none{
    display: none;
}

/*Karten Layout*/
.card{
    width: 300px;
    height: 550px;
    transition: all 0.5s ease; 
}
.card::before{
    background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(0,255,255,0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
}
.card:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 13px  rgb(255, 255, 255);
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #141111, transparent);
}
.card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
.card-Img{
    background-image: linear-gradient(45deg, #f9f9f9, transparent);
    box-shadow: 0 0 2px 1px rgba(30, 74, 89, 0.5);
    

}
.card-Img:hover{/*spielerei*/
    background-image: linear-gradient(45deg, #141111, transparent); 
}
/* Progressbar Anpassungen*/

.s-atk{
    background-color: rgba(251, 0, 0, 0.56) !important
}
.s-def{
    background-color: rgba(63, 60, 58, 0.797) !important;
}
