.d_none{
    display: none;
}

/*Karten Layout*/
.card{
    width: 300px;
    height: 550px;
    transition: all 0.5s ease; 
}
.card::before{
    background: linear-gradient(
        0deg, 
        transparent, 
        transparent 30%, 
        rgba(0,255,255,0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
}
.card:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 13px  rgb(255, 255, 255);
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #141111, transparent);
}
.card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
.card-Img{
    background-image: linear-gradient(45deg, #f9f9f9, transparent);
    box-shadow: 0 0 2px 1px rgba(30, 74, 89, 0.5);
    

}
.card-Img:hover{/*spielerei*/
    background-image: linear-gradient(45deg, #141111, transparent); 
}
/* Progressbar Anpassungen*/

.s-atk{
    background-color: rgba(251, 0, 0, 0.56) !important
}
.s-def{
    background-color: rgba(63, 60, 58, 0.797) !important;
}


.choosen-pokemon {
    
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  .neon-pulse {
    border: 2px solid rgb(254, 254, 254);
    box-shadow: 0 0 10px rgba(217, 220, 220, 0.3);
    overflow: visible;
  }
  
  .neon-pulse::before,
  .neon-pulse::after {
    content: "";
    position: absolute;
    inset: -4px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: inherit;
    animation: pulseOut 2s ease-out infinite;
    opacity: 0;
  }
  
  .neon-pulse::after {
    animation-delay: 1s;
  }
  
  @keyframes pulseOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
}

.overlay2{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(183, 194, 41, 0.375);    
}

/* 3. Border Reveal */
.loadBtn {
  height: 100%;
  width: 180px;
  border-radius: 10px;
  background-color: transparent;
  color: #6d79d6;
  border: 2px solid #6b60d3;
  position: relative;
}

.loadBtn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9b59b6;
  transition: width 0.3s ease;
  z-index: -1;
}

.loadBtn:hover::after {
  width: 100%;
}

.loadBtn:hover {
  color: white;
}
